* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nested.css */
details {
  margin-bottom: 10px;
}

summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.parent-summary::before {
  content: '\2212'; /* Minus sign when closed */
  display: inline-block;
  width: 1em;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.parent.open .parent-summary::before {
  content: '\002B'; /* Plus sign when open */
}

.child-summary::before {
  content: '\2212'; /* Minus sign when closed */
  display: inline-block;
  width: 1em;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.child.open .child-summary::before {
  content: '\002B'; /* Plus sign when open */
}

.grandchild-summary::before {
  content: '\2212'; /* Minus sign when closed */
  display: inline-block;
  width: 1em;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.grandchild:not(.open) .grandchild-summary::before {
  content: '\002B'; /* Plus sign when open */
}

/* Hide arrow head when closed */
.parent-summary:not(.open)::before,
.child-summary:not(.open)::before,
.grandchild-summary:not(.open)::before {
  display: none;
}


.header-color{
  color:#000000;
  background-color: #d2dfff;
  font-size: 1.4em;
}

